<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hibiet - Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" href="https://static.mod.io/html/external/min/index.php?b=v1&amp;f=css/slick.css&amp;1" type="text/css">
  <link rel="stylesheet" type="text/css" media="all" href="https://static.mod.io/html/external/min/index.php?g=home&amp;1">
  <link rel="stylesheet" href="./common/style.css">

</head>

<body>
  <div id="app">
    <div class="ui inverted dimmer" v-bind:class="{active: isLoading}">
      <div class="ui loader"></div>
    </div>
    <p></p>
    <common-menu current="home"></common-menu>
    <section class="section">
      <div class="container">
        <span class="title">{{user.days}}日目</span>
        <a class="button is-danger" v-on:click="dailyClose">一日進める</a>
      </div>
      <br />
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">レベル</p>
              <p class="content" style="text-align: center; font-size: 90px;">
                {{user.level}}
              </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">経験値</p>
              <p class="content" style="text-align: center; font-size: 90px;">
                {{user.exp}}
              </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">レート</p>
              <div class="content" style="text-align: center; font-size: 90px;">
                {{user.rate}}
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="columns is-centered is-desktop">
          <!-- 必須 -->
          <div class="column">
            <article class="message is-primary">
              <div class="message-header">
                <p>必須</p>
              </div>
              <div class="message-body" v-if="necessaryTasks.length !== 0">
                <div class="board-item" v-for="ntask in necessaryTasks">
                  <div class="board-item-content"><span>
                      <label class="checkbox">
                        <input type="checkbox" v-on:click="toggle(ntask, calorie(ntask))" v-bind:checked="ntask.done">
                        {{ntask.time}}分{{ntask.taskName}}<span>{{calorie(ntask)}}kcal</span>
                      </label>
                    </span></div>
                </div>
              </div>
              <h4 class="title is-4 has-text-centered" v-else>現在必須タスクはありません。</h4>
              <div v-if="necessaryTasks.length !== 0">
                <h4 class="title is-5 has-text-centered">消費カロリー:{{sumCalorie(necessaryTasks.filter(t => t.done ===
                  true))}}kcal</h4>
                <h4 class="title is-5 has-text-centered">合計カロリー:{{sumCalorie(necessaryTasks)}}kcal</h4>
              </div>
            </article>
          </div>
          <!-- 必須終了 -->
          <!-- 追加 -->
          <div class="column">
            <article class="message is-link">
              <div class="message-header">
                <p>追加</p>
              </div>
              <div class="message-body" v-if="optionalTasks.length !== 0">
                <div class="board-item" v-for="otask in optionalTasks">
                  <div class="board-item-content"><span>
                      <label class="checkbox">
                        <input type="checkbox" v-on:click="toggle(otask, calorie(otask))" v-bind:checked="otask.done">
                        {{otask.time}}分{{otask.taskName}}<span>{{calorie(otask)}}kcal</span><span>({{otask.week}}/7)</span>
                      </label>
                    </span></div>
                </div>
              </div>
              <h4 class="title is-4 has-text-centered" v-else>現在追加タスクはありません。</h4>
              <div v-if="optionalTasks.length !== 0">
                <h4 class="title is-5 has-text-centered">消費カロリー: {{sumCalorie(optionalTasks.filter(t => t.done ===
                  true))}}kcal</h4>
                <h4 class="title is-5 has-text-centered">合計カロリー: {{sumCalorie(optionalTasks)}}kcal</h4>
              </div>
            </article>
          </div>
          <!-- 追加終了 -->
        </div>
      </div>
    </section>
  </div>
  <script src="./common/config.js" charset="utf-8"></script>
  <script src="./js/menu.js" charset="utf-8"></script>
  <script src="./js/index.js" charset="utf-8"></script>
</body>

</html>